.footer-top-wrapper {
    margin-top: 78px;
    margin-bottom: 18px;
}

.footer-top-block {
    display: flex;
    align-items: flex-end;

}

.footer-top-block-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;
}

.footer-top-block-item:not(:last-child) {
    margin-right: 48px;
}

.footer-top-block-item__small-heading {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 21px;
    color: #263238;
}

.footer-top-block-item__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 149%;
    color: #263238;
}

.footer-top-block-item-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer-top-block-item__big-heading {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #263238;

}

.footer-top-block-item-links__link {
    font-weight: 300;
    font-size: 18px;
    line-height: 149%;
    color: #263238;

}

/*FOOTER-BOTTOM*/
.footer-bottom-wrapper {
    background: #EE4248;
}

.footer-bottom {
    display: flex;
    justify-content: center;
}

.footer-bottom__text {
    color: #FFFFFF;
    padding: 21px 0 22px 0;
    /*text-align: center;*/
}