.navbar-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu__item {
    color: rgba(31, 46, 53, 0.8);
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.navbar-menu__item:not(:last-child) {
    margin-right: 50px;
}

.navbar-menu__item img {
    margin-left: 8px;
}

.navbar-social {
    display: flex;
    align-items: center;

}

.navbar-social-item:not(:last-child) {
    margin-right: 24px;
}

.navbar-social-item__img {

}
