* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font: inherit;
}