.making-wrapper {
    margin-top: 110px;
    padding-bottom: 100px;
}

.making {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 17px;
    align-items: center;
}

.making-left {

}

.making-left__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color: #1F2E35;
    margin-bottom: 24px;
}

.making-left__heading span {
    color: #EE4248;
}

.making-left__text {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 29px;
    color: #30444E;
}

.making-left__button {
    padding: 12px 32px;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.making-right {

}

.making-right__img {

}

