.service-wrapper {
    margin-top: 110px;
    padding-bottom: 100px;
}
.service-futures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 9px;
    padding: 0 10px;
}
.service_item {
    padding: 24px 20px 4px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.service__descr {
    margin-top: 15px;
    color: #EE4248;
}
.service__text {
    font-size: 18px;
    line-height: 150%;
    color: #30444E;
    margin: 16px 0;
}
.title {
    margin-bottom:30px;
    text-align: center;
}
.service_btn {
    padding: 8px 16px;
    font-size: 20px;
    color: #FFFFFF;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: auto;
}