.welcome-wrapper {
    background: #F7F7F7;
    padding: 57px 0 63px 0;
}
.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 17px;
    align-items: center;
}
.welcome-right__heading span {
    color: #EE4248;
}
.welcome-right__heading {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: #1F2E35;

}
.welcome-right__text {
    font-size: 18px;
    line-height: 150%;
    color: #30444E;
}

.welcome-right__text:not(:last-child) {
    margin-bottom: 1.5em;
}

.welcome-right__text strong {
    color: #EE4248;
    font-weight: 500;
}
